*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7fbec5;
}

.container{
}

.header{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #efebeb;
    border-bottom: 3px solid #f2eeee;
    width: 290px;
}

.header2{
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 400px;
    color: #4285f4;
}

.input-box{
    width: 600px;
    height: 80px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 22px;
    color: #645f5f;
    margin: 10px 0;
    border-radius: 5px;
    user-select: text;
}

#bx1{
    position: relative;
    right: 44px;
    top: 8px;
    color: #4285f4;
    cursor: pointer;
}

.length-text{
    width: 90px;
    height: 80px;
    border:none;
    outline: none;
    padding:20px;
    color: #645f5f;
    font-size: 22px;
    border-radius: 5px;
}

.gen-btn{
    display: block;
    margin: 25px 0;
}

.generate-btn{
    width: 275px;
    height: 53px;
    font-size: 18px;
    background-color: #4285f4;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 5px;
    font-weight: 300;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.generate-btn:hover{
    filter: brightness(85%);
}

.generate-btn:active{
    filter: brightness(120%);
}

#bx2{
    position: relative;
    right: 250px;
    top: 5px;
    color: #edeff2;
}


